{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    body {padding:O; margin:0; background-color:#e1eaee;}
    .text-center { text-align :center;}
    ul {list-style:none}
    li.menuGauche {text-align : right; margin-right:30px;}
    li.menuGauche a {text-decoration:none; color:black;}
    p { text-align :center; font-size:22px;}
    
</style>

<div>

       <ul>
    <li class="menuGauche"><a href="/porfolio">Porfolio</a></li>
    </ul>

    <h1 class="text-center"> {{ controller_name }}</h1>

  
    <p>Je vous présente mes créations sur mon tout nouveaux porfolio</p>

  
    
</div>
{% endblock %}
