{% extends 'base.html.twig' %}

{% block title %}Porfolio{% endblock %}

{% block body %}
<style>
body {padding:O; margin:0; background-color:#e1eaee;}
ul {list-style:none}
li.menuGauche {text-align : right; margin-right:30px;}
li.menuGauche a {text-decoration:none; color:black;}
.text-center { text-align :center;}
.centrer a{ text-align :center;}

   
</style>

<div>
 <ul>
    <li class="menuGauche"><a href='/'>Accueil</a></li>
</ul>
    <h1 class="text-center"> {{ controller_name }}</h1>
    

   

    
</div>

{% for item in data %}
<div style ="display:flex; flex-direction: column;
    align-items: center;">
<h2><a  href="{{item.lienRepo}}">{{item.titre}}</a></h2>
{{item.description}}

<img class="meteoIm" style="width:40%"  src="{{item.imgurl1}}" />
<img class="cardImg" style="width:40%"  src="{{item.imgurl2}}" />
</div>
{% endfor %}

{% endblock %}


